body {
    font-family: Arial, sans-serif;
    background-color: #f5f0e6;
    color: #4b3f3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fffaf0;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
    text-align: center;
}

h2 {
    color: #6b5e55;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dcd0ba;
}

th {
    background-color: #d1b89a;
    color: #4b3f3b;
    padding: 12px;
    font-size: 16px;
}

td {
    background-color: #fbf5e9;
    color: #4b3f3b;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #4b3f3b;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dcd0ba;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fbf5e9;
    color: #4b3f3b;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    border-color: #a67c52;
    box-shadow: 0 0 8px rgba(166, 124, 82, 0.5);
}

button {
    background-color: #8d744a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #6b5e55;
    transform: scale(1.05);
}

button a {
    text-decoration: none;
    color: white;
}

.add-button {
    background-color: #a67c52;
}

.add-button:hover {
    background-color: #8d744a;
}

.button-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #a67c52;
    padding: 10px 15px;
}

.logout-button a {
    color: white;
}

.logout-button:hover {
    background-color: #8d744a;
}

.form-container {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #8d744a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #6b5e55;
    transform: scale(1.05);
}
