<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>所有競標商品</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- 右上角登出按鈕 -->
    <button class="logout-button"><a href="/logout" style="color: white; text-decoration: none;">登出</a></button>
    
    <div class="container">
        <h2>所有競標商品</h2>
        <hr />
        <table>
            <tr>
                <th>商品編號</th>
                <th>商品名稱</th>       
                <th>最高價 (NTD)</th>
                <th>我要競標</th>
            </tr>
            {% for rec in data %}
            <tr>
                <td>{{rec.goodid}}</td>
                <td>{{rec.goodname}}</td>
                <td>{{rec.highestprice}}</td>
                <td><button><a href="/auction/{{ rec.goodid }}">詳情及競標</a></button></td>
            </tr>
            {% endfor %}
        </table>
        
        <div class="button-center">
            <button class="add-button"><a href="/myselfgood">前往我的拍賣區域</a></button>
        </div>
    </div>
</body>
</html>
