<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顧客主頁</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>歡迎來到 FoodPangolin 顧客主頁</h1>
    
    <h2>選擇店家</h2>
    <ul>
        {% for restaurant in restaurants %}
        <li><a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.R_id) }}">{{ restaurant.R_name }}</a></li>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('logout') }}">登出</a>
</body>
</html>
